.nav-center {
    list-style-type: none;
    text-align: center;
    padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.nav-center h4, ul {
    display: inline;
    text-align: center;
}

h4 {
    color:royalblue;
    padding-right: 500px;
}

.nav-links {
    list-style-type: none;
    text-align: center;
}

.nav-links li {
    display: inline;
    text-align: center;
}

.nav-links li a {
    padding: 2px 7px 2px 7px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    border: 1px solid black;
    padding-top: .3em;
	padding-bottom: .3em;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.color {
    color: rgb(81, 116, 220);
}

.btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-small;
}

